header {
    display: flex;
    align-items: center;
    height: 50px;
    background-color: #f2f2f2;
    padding: 10px;
}

#logo {
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
}

