#search-container {
    display: flex;
    align-items: center;
    position: relative;
    width: 30%;
    margin-left: auto; /* Добавлен margin-left:auto для перемещения поисковой строки вправо */
}

input[type="text"] {
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 20px;
    padding: 10px;
    font-size: 16px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    outline: none;
}

#search-results {
    /*display: none;*/
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
    width: 100%;
}

#search-results div {
    padding: 10px;
    cursor: pointer;
}

#search-results div:hover {
    background-color: #f2f2f2;
}
